<!DOCTYPE html>
<html lang="en">
<head>
	<meta http=equiv="Content-type" content="text/html; charset=utf-8">
	<title="Single"</title>
	<style type="text/css" media="screen">
	.wrap {
		margin: 0 auto;
		width: 800px;
	}
	section {
		width: 525px;
		margin-right:25px;
		float: left;
	}
	aside {
		width: 250px;
		float: left;
	
	}
	footer {
		clear: both;
		border-top: 1px solid #e3e3e3;
	
	}
	</style>
</head>
<body>
	<div class="wrap">
	<header>
		<h1>This is a header</h1>
	 </header>
	 <section>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Suspendisse aliquet mattis felis, et bibendum sapien semper ut. Mauris aliquam tortor dapibus, euismod mi sit amet, commodo elit. Sed scelerisque, tortor non varius lacinia, tortor mi tincidunt neque, ut semper est odio eu eros. Sed dictum libero vel ullamcorper aliquam. Duis a orci eget lacus scelerisque suscipit ut id tortor. Vivamus quis dui aliquet, malesuada mi ac, sodales magna. Etiam convallis sodales diam id sodales. Nam suscipit lacinia viverra. Cras consequat vulputate enim at scelerisque.
	  </p>
	  <p>
	  Sed aliquet lacus non dictum suscipit. Fusce varius erat sit amet turpis semper ullamcorper. Vestibulum et faucibus leo. Donec non magna scelerisque, luctus augue quis, commodo augue. Mauris et nisi consequat, euismod neque vel, facilisis arcu. Ut lacinia, tortor quis bibendum rhoncus, elit nisi luctus ligula, mollis sollicitudin velit est in mi. Aenean a risus ullamcorper, fringilla massa vel, commodo velit.
	  </p>
	 </section>
	 <aside>
	 <p>THIS IS THE ASIDE TAG. HERE IS SOME FAKE CONTENT: Aenean mollis tellus vel sem dignissim pharetra. Donec facilisis ipsum sem, non eleifend risus consequat nec. Duis adipiscing pretium condimentum. Ut ornare adipiscing dui, in dignissim ipsum elementum at. Vivamus orci diam, dignissim ac felis eu, porta luctus orci. Duis turpis leo, convallis sit amet tristique varius, euismod eget justo. Aliquam pellentesque risus eget ipsum imperdiet adipiscing. Maecenas mattis risus ipsum, quis dictum nisi tincidunt quis. Nunc at dapibus massa, vel consectetur arcu.
	 </p>
	 <p> THIS IS A SECOND ASIDE BAR. more content, lorem impsum and such, let's pretend for the sake of practice that this is a really long paragraph with a lot of valuable content. Or maybe just some lorem ipsum. Either way, it's long enough to recognize the effect, which should be available by just writing this paragraph about nonsense. 
	 </p>
	 </aside>
	 <footer>
		<p> This is a footer</p>
	 </footer>
	</div>
</body>
</html>